* {
    text-decoration: none;
    font-family: "questrial-regular", sans-serif;
}

body {
    height: 100%;
    background-color:white;
}

.questrial-regular {
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.bar {
    grid-column: 1/ 6;
    grid-row: 1/1;
    background-color: lightblue;
    padding: 4px;
    padding-left: 15px;
    padding-right: 15px;
}

.barelement {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    margin-left: 10px;
}

li {
    list-style: none;
    display: inline-block;
}

li a {
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
}


#container_contact {
    display: grid;
    width: 100%;
    height: auto;
    height: 100%;
    grid-template-rows: 80px 5fr 3fr;
    grid-template-columns: 3fr 3fr 3fr 3fr 3fr;
    grid-gap: 1em;
}

#Forms {
    grid-row: 2/4;
    grid-column: 3;
    align-items: center;
}

footer {
    width: 100%;
    height: 30px;
    background-color: lightblue;
}